
<nav class="navbar">
    <div class="navbar-container">

        <!-- Left: Logo -->
        <div class="navbar-left">
            <span class="navbar-logo">📘</span>
            <span class="navbar-title">EduConnect</span>
        </div>

        <!-- Right: Menu -->
        <div class="navbar-menu">
            <a href="/" class="nav-link">Home</a>
            <a href="/Home/About" class="nav-link">About Us</a>
        </div>

    </div>
</nav>

